<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Relative URL Templates</h1>
<!--    <a href="basic_app/other.html">The Other page</a> -->
    <a href="{% url 'basic_app:other' %}">The Other page</a><br>
    <a href="{% url 'admin:index' %}">Admin Index</a><br>
    <a href="{% url 'Index' %}">Index</a>
</body>
</html>
