<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>First App</title>
        <link rel="stylesheet" href="{% static 'css/my_style.css' %}">
    </head>
    <body>
        <h1>Hi, welcome to django level two!</h1>
        <h2> here are your access records</h2>

            <div class="djangotwo">
                {% if access_records %}
                    <table>
                        <thead>
                        <th>Site Name</th>
                        <th>Date Requested</th>
                        </thead>


                    {% for access_record in access_records %}
                    <tr>
                        <td>{{ access_record.name }}</td>
                        <td>{{ access_record.date }}</td>
                    </tr>
                    {% endfor %}

                    </table>
                {% else %}
                    No records found.
                {% endif %}
            </div>
    </body>
</html>
