<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <link rel="stylesheet" href="{% static 'simplesocial/css/main.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Russo+One&display=swap" rel="stylesheet">

    <title>Section 24 - Simple Social</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Star Social</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="navbar-item active"> -->
            {% if user.is_staff %}
            <li class="navbar-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
            {% endif %}
            <li class="navbar-item active"><a class="nav-link" href="#">About</a></li>

        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li>Welcome: {{ user.username }}</li>
            <li class="navbar-item"><a class="nav-link" href="{% url 'posts:create' %}">New Post</a></li>
            <li class="navbar-item"><a class="nav-link" href="{% url 'groups:all' %}">Groups</a></li>
            <li class="navbar-item"><a class="nav-link" href="{% url 'groups:create' %}">Create Group</a></li>
            <li class="navbar-item"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
            {% else %}
            <li class="navbar-item"><a class="nav-link" href="{% url 'groups:all' %}">Groups</a></li>
            <li class="navbar-item active"><a class="nav-link" href="{% url 'accounts:login' %}">Log In</a></li>
            <li class="navbar-item"><a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    <div class="navbar navbar-default">
        <div class="navbar-inner">
            <div class="container">
            </div>
        </div>
    </div>
</div>

<div class="container mycontent">
    {% block content %}
    {% endblock %}
</div>

</body>

<script type="text/javascript" src="{% static 'simplesocial/js/main.js' %}"></script>

</html>
